In [1]:
import pandas as pd
import requests
import numpy as np

In [485]:
credits = pd.read_csv('data/credits.csv')

In [486]:
keywords = pd.read_csv('data/keywords.csv')

In [487]:
links = pd.read_csv('data/links.csv')

In [488]:
links_small = pd.read_csv('data/links_small.csv')

In [489]:
movies_metadata = pd.read_csv('data/movies_metadata.csv')

C:\Users\HANA\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [490]:
ratings_small = pd.read_csv('data/ratings_small.csv')

In [491]:
movies_metadata.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [492]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [493]:
movies_metadata = movies_metadata.drop([19730,29503,35587],axis=0)

In [494]:
movies_metadata[movies_metadata.id.str.contains(r'-')]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [495]:
movies_metadata['id'] = movies_metadata['id'].astype(str).astype(int)

## Top movies

Weighted Rating (WR) =  (v/(v+m)*R)+(m/(v+m)*C) 
where,

v is the number of votes for the movie
m is the minimum votes required to be listed in the chart
R is the average rating of the movie
C is the mean vote across the whole report

In [496]:
m = movies_metadata['vote_count'].quantile(0.95)
m

434.0

In [497]:
C = movies_metadata['vote_average'].mean()
C

5.618207215133889

In [498]:
qualified_movies = movies_metadata[(movies_metadata.vote_count > m) & (movies_metadata.vote_average > C)]

In [499]:
qualified_movies = qualified_movies.assign( weighted_rate = lambda x: (x['vote_count'] / (x['vote_count'] + m) * x['vote_average']) + (m / (x['vote_count'] + m) * C))

In [500]:
top_movies = qualified_movies.sort_values('weighted_rate', ascending= False)

In [18]:
# top_movies.to_csv('data/top_movies.csv',index=False)

#### How to find the right poster (poster_path in database is not correct)

In [501]:
API_key = 'd06b517b45b8643d8cdb739e04465106'

In [502]:
response = requests.get(f"""https://api.themoviedb.org/3/find/tt0114709?api_key={API_key}&language=en-US&external_source=imdb_id""")

In [503]:
response.json()

{'movie_results': [{'video': False,
   'title': 'Toy Story',
   'id': 862,
   'overview': "Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",
   'release_date': '1995-10-30',
   'adult': False,
   'backdrop_path': '/3Rfvhy1Nl6sSGJwyjb0QiZzZYlB.jpg',
   'vote_count': 15005,
   'genre_ids': [16, 12, 10751, 35],
   'original_language': 'en',
   'original_title': 'Toy Story',
   'poster_path': '/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg',
   'vote_average': 8.0,
   'popularity': 199.235}],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': []}

In [504]:
response.json()['movie_results'][0]['poster_path']

'/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg'

### Working with genres

In [505]:
import json

In [506]:
genre_dict = {'id':[],'genre':[]}
for i, movie in movies_metadata.iterrows():
    for genre in json.loads(movie.genres.replace('\'', '"')):
        genre_dict['id'].append(genre['id'])
        genre_dict['genre'].append(genre['name'])

In [507]:
genres = pd.DataFrame.from_dict(genre_dict)
genres = genres.drop_duplicates()

In [508]:
genre = 'Drama'

In [509]:
genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 738
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1   genre   20 non-null     object
dtypes: int64(1), object(1)
memory usage: 480.0+ bytes

In [510]:
top_movies[top_movies.genres.str.contains(genre)].reset_index()

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,weighted_rate
0,314,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,278,tt0111161,en,The Shawshank Redemption,...,2.834147e+07,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,False,8.5,8358.0,8.357746
1,834,False,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,The Godfather,...,2.450664e+08,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An offer you can't refuse.,The Godfather,False,8.5,6024.0,8.306334
2,12481,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,The Dark Knight,...,1.004558e+09,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,The Dark Knight,False,8.3,12269.0,8.208376
3,2843,False,NaN,63000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxmovies.com/movies/fight-club,550,tt0137523,en,Fight Club,...,1.008538e+08,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0,8.184899
4,351,False,NaN,55000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,13,tt0109830,en,Forrest Gump,...,6.779454e+08,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The world will never be the same, once you've ...",Forrest Gump,False,8.2,8147.0,8.069421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,20273,False,NaN,56000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",http://www.brokencitymovie.com/,98357,tt1235522,en,Broken City,...,1.970116e+07,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Proof Can Be a Powerful Weapon.,Broken City,False,5.7,601.0,5.665702
858,27148,False,NaN,25000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",http://www.thegamblermovie.com/,284536,tt2039393,en,The Gambler,...,3.917113e+07,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The only way out is all in,The Gambler,False,5.7,550.0,5.663925
859,31751,False,NaN,20000000,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",http://darkplacesmovie.com/,182560,tt2402101,en,Dark Places,...,2.085880e+05,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In 1985, her entire family was murdered. 30 ye...",Dark Places,False,5.7,488.0,5.661499
860,93,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9208,tt0115759,en,Broken Arrow,...,1.502701e+08,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Prepare to Go Ballistic.,Broken Arrow,False,5.7,459.0,5.660249
861,9892,False,NaN,130000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,7364,tt0318649,en,Sahara,...,1.192695e+08,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Dirk Pitt. Adventure has a new name.,Sahara,False,5.7,440.0,5.659384

In [511]:
genres = genres.append({'id':1,'genre':'All'},ignore_index=True)

In [512]:
genres

       id            genre
0      16        Animation
1      35           Comedy
2   10751           Family
3      12        Adventure
4      14          Fantasy
5   10749          Romance
6      18            Drama
7      28           Action
8      80            Crime
9      53         Thriller
10     27           Horror
11     36          History
12    878  Science Fiction
13   9648          Mystery
14  10752              War
15  10769          Foreign
16  10402            Music
17     99      Documentary
18     37          Western
19  10770         TV Movie
20      1              All

In [513]:
# genres.to_csv('data/genres.csv',index=False)

## Content based recommender

In [514]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [515]:
movies_content = movies_metadata[(movies_metadata.vote_count > 50)].copy()

In [516]:
movies_content.shape

(9048, 24)

In [517]:
movies_content.tagline = movies_content.tagline.fillna('')
movies_content.overview = movies_content.overview.fillna('')
movies_content['description'] = movies_content.tagline + movies_content.overview

In [518]:
movies_content = movies_content[['id','title','description']]

In [37]:
# movies_content.to_csv('data/content_based.csv',index=False)

In [519]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1,2),min_df=0,stop_words='english')
tfidf_matrix = tf.fit_transform(movies_content.description)

In [520]:
tfidf_matrix.shape

(9048, 256171)

In [521]:
cos_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [522]:
title_id = pd.Series(movies_metadata.reset_index().index, index=movies_metadata['title'])

In [523]:
index = title_id['The Lost World: Jurassic Park']
sim_scores = list(enumerate(cos_sim[index]))
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores = sim_scores[1:31]
movie_indices = [i[0] for i in sim_scores]
movies_metadata['title'].iloc[movie_indices]

1896                           The Goonies
3832                            Billy Jack
3533                      La Grande Bouffe
2569                  Promise Her Anything
2818                         El Amor Brujo
2719               The Very Thought of You
6623                     To Be and to Have
693                       Mulholland Falls
4493                              Loverboy
5273                     Season's Beatings
8648                           The Reivers
7815                                Fear X
5738                    The Quiet American
804            The Adventures of Pinocchio
1457                           The Turning
2420    Escape from the Planet of the Apes
2129                          My Bodyguard
2058                                 Blade
8003                       To End All Wars
4587                            Bad Timing
3480                            G.I. Blues
1349                       In Love and War
7229                        I'm Not Scared
5816                             25th Hour
4532                           Sea of Love
216                               The Cure
1892                       Lethal Weapon 2
4032                            Monkeybone
1783                      A Perfect Murder
1236                    The Great Dictator
Name: title, dtype: object

### Recommendation based on directors, cast, genres and keywords

In [524]:
from ast import literal_eval

In [525]:
second_recommender = movies_metadata.merge(credits, on='id')

In [526]:
second_recommender = second_recommender.merge(keywords, on='id')

In [527]:
second_recommender = second_recommender[(second_recommender.vote_count > 50)]

In [528]:
second_recommender.cast = second_recommender.cast.apply(literal_eval)

In [529]:
second_recommender.crew = second_recommender.crew.apply(literal_eval)

In [530]:
second_recommender.keywords = second_recommender['keywords'].apply(literal_eval)

In [531]:
second_recommender.genres = second_recommender['genres'].apply(literal_eval)

In [532]:
def get_director(row):
    for person in row:
        if person['job'] == 'director':
            return person['name']
    return ''

In [533]:
second_recommender['director'] = second_recommender.crew.apply(get_director)

In [534]:
def get_cast(row):
    temp = []
    for person in row:
        temp.append(person['name'])
    if len(temp) < 3 & len(temp) > 0:
        return temp
    else:
        return temp[:3]
    return []

In [535]:
second_recommender['actors'] = second_recommender.cast.apply(get_cast)

In [536]:
def get_keywords(row):
    temp = []
    for words in row:
        temp.append(words['name'])
    return temp

In [537]:
second_recommender['keywords'] = second_recommender.keywords.apply(get_keywords)

In [538]:
def get_genres(row):
    temp = []
    for genre in row:
        temp.append(genre['name'])
    return temp

In [539]:
second_recommender['genres'] = second_recommender.genres.apply(get_genres)

In [540]:
second_recommender = second_recommender[['id','title','imdb_id','genres','keywords','director','actors','vote_average','vote_count']].copy()

In [541]:
second_recommender.actors = second_recommender.actors.apply(lambda x : [str.lower(i.replace(' ','')) for i in x] )

In [542]:
second_recommender.director = second_recommender.director.astype('str').apply(lambda x : str.lower(x.replace(' ','')))

In [543]:
second_recommender.director = second_recommender.director.apply(lambda x: [x,x])

In [544]:
counting = second_recommender.apply( lambda x : pd.Series(x.keywords,dtype='object'),axis=1).stack().reset_index(level=1, drop=True)

In [545]:
counting.name = 'keyword'

In [546]:
counting = counting.value_counts()

In [547]:
counting = counting[counting > 1]

In [548]:
import snowballstemmer

In [549]:
stemmer = snowballstemmer.stemmer('english');

In [550]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in counting:
            words.append(i)
    return words

In [551]:
second_recommender['keywords'] = second_recommender['keywords'].apply(filter_keywords)

In [552]:
second_recommender['keywords'] = second_recommender['keywords'].apply(lambda x: [stemmer.stemWord(word) for word in stemmer.stemWords(x)])

In [553]:
second_recommender['keywords'] = second_recommender['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [554]:
second_recommender['soup'] = second_recommender['keywords']+second_recommender['actors']+second_recommender['director']+second_recommender['genres']

In [555]:
second_recommender['soup'] = second_recommender['soup'].apply(lambda x: ' '.join(x))

In [556]:
second_recommender = second_recommender.merge(movies_content.drop('title',axis=1), on='id')

In [557]:
second_recommender = second_recommender.assign( weighted_rate = lambda x: (x['vote_count'] / (x['vote_count'] + m) * x['vote_average']) + (m / (x['vote_count'] + m) * C))

In [558]:
# second_recommender.to_csv('data/second_recommender.csv',index=False)

In [559]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [560]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(second_recommender['soup'])

In [561]:
cosine_sim_second = cosine_similarity(count_matrix, count_matrix)

In [562]:
cosine_sim_second.shape

(9251, 9251)

In [563]:
title_id = pd.Series(second_recommender.reset_index().index, index=second_recommender['title'])

In [564]:
index = title_id['Pulp Fiction']
sim_scores = list(enumerate(cosine_sim_second[index]))
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores = sim_scores[1:31]
movie_indices = [i[0] for i in sim_scores]
second_recommender['title'].iloc[movie_indices]

6957          Reasonable Doubt
4762                   Cleaner
6163              Meeting Evil
7840                The Forger
2879                     Basic
2969                  S.W.A.T.
140              Kiss of Death
3261                   Twisted
2700            The 51st State
5781        The Sunset Limited
4954                The Spirit
4191               Freedomland
2540            Changing Lanes
6132                     Arena
241                      Fresh
1868                     Shaft
4292         Snakes on a Plane
6169                  The Raid
6506             The Samaritan
6911                    Oldboy
3291                     Shade
4620    Resurrecting the Champ
4719                     Awake
5580            Animal Kingdom
5818                Easy Money
6006         The Son of No One
6259                 Cleanskin
6330                Compliance
7081                Blood Ties
7412                 In Secret
Name: title, dtype: object

In [565]:
content_based_movies = second_recommender.iloc[movie_indices]

In [566]:
vote_counts = content_based_movies[content_based_movies['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = content_based_movies[content_based_movies['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
m = vote_counts.quantile(0.60)
qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified['wr'] = qualified.apply(weighted_rating, axis=1)
qualified = qualified.sort_values('wr', ascending=False).head(10)

TypeError: 'PrefetchDataset' object is not subscriptable

### User based recommendation

In [567]:
from surprise import SVD

from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise import Reader
from surprise.model_selection import KFold
from surprise import accuracy
from surprise.model_selection import cross_validate
from surprise import KNNWithZScore
from surprise import SVDpp
from collections import defaultdict

import pickle

In [568]:
reader= Reader()

In [569]:
ratings = pd.read_csv('data/ratings_small.csv')

In [570]:
rating_movies = ratings.merge(movies_metadata, left_on='movieId', right_on='id')

In [571]:
rating_movies = rating_movies[['movieId','userId','rating','title','imdb_id']]

In [573]:

# rating_movies.to_csv('data/rating_movies.csv',index=False)

In [330]:
# data2 = Dataset.load_builtin('ml-100k')

In [574]:
data = Dataset.load_from_df(rating_movies[['userId','movieId','rating']],reader)

In [575]:
trainset = data.build_full_trainset()

In [576]:
trainset.all_users()

range(0, 671)

In [577]:
testset= trainset.build_anti_testset()

In [354]:
kf = KFold(n_splits=5)

#### SVD model

In [578]:
svd = SVD()

In [356]:
for trainset, testset in kf.split(data):

    # train and test algorithm.
    # algo.fit(trainset)
    # predictions = algo.test(testset)

    # evalu
    # Compute and print Root Mean Squared Error
    cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9085  0.8920  0.9005  0.8946  0.8919  0.8975  0.0063
MAE (testset)     0.7006  0.6842  0.6977  0.6896  0.6877  0.6920  0.0062
Fit time          1.62    1.62    1.58    1.57    1.58    1.60    0.02
Test time         0.06    0.05    0.05    0.05    0.05    0.05    0.00
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8973  0.9014  0.9052  0.8996  0.8869  0.8981  0.0062
MAE (testset)     0.6951  0.6891  0.6957  0.6947  0.6849  0.6919  0.0043
Fit time          1.61    1.61    1.64    1.62    1.64    1.62    0.01
Test time         0.05    0.05    0.05    0.05    0.05    0.05    0.00
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8940  0.8947  0.8857  0.9036  0.9056  0.8967  0.0072
MAE (testset)     0.6917  0.6892  0.6843  0.6957  0.6996  0.6921  0.0053
Fit time          1.69    1.67    1.70    1.68    1.64    1.67    0.02
Test time         0.05    0.05    0.05    0.05    0.05    0.05    0.00
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9048  0.8995  0.8853  0.8990  0.9131  0.9003  0.0091
MAE (testset)     0.6954  0.6925  0.6832  0.6956  0.7003  0.6934  0.0057
Fit time          1.69    1.70    1.64    1.67    1.68    1.68    0.02
Test time         0.05    0.05    0.05    0.05    0.05    0.05    0.00
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9017  0.8996  0.8876  0.9036  0.8977  0.8981  0.0056
MAE (testset)     0.6977  0.6906  0.6858  0.6943  0.6948  0.6926  0.0041
Fit time          1.67    1.70    1.68    1.65    1.68    1.68    0.02
Test time         0.05    0.05    0.05    0.05    0.05    0.05    0.00

In [579]:
svd.fit(trainset)

In [580]:
predictions = svd.test(testset)

In [581]:
def get_top_n(predictions, n=10):
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [582]:
predict_dict = get_top_n(predictions, 10)

In [583]:
df = pd.DataFrame(predict_dict.items(), columns=['userId', 'est_score'])

In [584]:
df.est_score[3]

[(926, 4.434532875640757),
 (4993, 4.389941958381524),
 (1945, 4.320445596477555),
 (899, 4.308855618499059),
 (745, 4.273776972753286),
 (58559, 4.237801607827927),
 (905, 4.223007953239048),
 (4226, 4.200383305300917),
 (3022, 4.185907152415912),
 (994, 4.165085694682377)]

In [585]:
user_ratings = pd.DataFrame (df.est_score[1], columns = ['movieId','est_score'])

In [586]:
user_ratings

   movieId  est_score
0      318          5
1     5995          5
2     2019          5
3     4226          5
4      608          5
5      923          5
6      246          5
7      899          5
8      922          5
9      953          5

In [587]:
user_ratings.merge(rating_movies, how='left', left_on='movieId', right_on='movieId').drop_duplicates('movieId', keep='first')

,movieId,est_score,userId,rating,title,imdb_id
0,318,5,3,5.0,The Million Dollar Hotel,tt0120753
311,5995,5,5,4.0,Miffo,tt0342771
372,2019,5,6,4.0,Hard Target,tt0107076
426,4226,5,8,5.0,Shriek If You Know What I Did Last Friday the ...,tt0212235
558,608,5,9,5.0,Men in Black II,tt0120912
782,923,5,11,5.0,Dawn of the Dead,tt0077402
867,246,5,15,5.0,Zatoichi,tt0363226
928,899,5,15,5.0,Broken Blossoms,tt0009968
992,922,5,15,1.0,Dead Man,tt0112817
1031,953,5,15,3.0,Madagascar,tt0351283

In [267]:
import sys
sys.getsizeof(predict_dict)

18528

In [268]:
type(predict_dict)

collections.defaultdict

In [588]:
pickle.dump(predict_dict, 
            open(file='models/predict_dict_user_based.sav', 
                 mode='wb'))

In [191]:
userId = 4

In [208]:
def get_ratings_for_user(userId):
    temp = rating_movies[rating_movies.userId == userId].copy().sort_values('rating',ascending = False)
    return temp

In [210]:
get_ratings_for_user(userId).head(10)

,movieId,userId,rating,title,imdb_id
12092,1954,4,5.0,The Butterfly Effect,tt0289879
11168,1278,4,5.0,The Dreamers,tt0309987
11813,1396,4,5.0,Mirror,tt0072443
11705,1387,4,5.0,Superstar: The Karen Carpenter Story,tt0094075
11615,1380,4,5.0,Gleaming the Cube,tt0097438
13327,2115,4,5.0,Light of Day,tt0093415
13460,2140,4,5.0,Kiss of the Dragon,tt0271027
11242,1282,4,5.0,Dogtown and Z-Boys,tt0275309
11003,1265,4,5.0,Bridge to Terabithia,tt0398808
10240,919,4,5.0,Blood: The Last Vampire,tt0275230

#### KNN with ZScore model

In [589]:
knnz = KNNWithZScore()

In [181]:
# for trainset, testset in kf.split(data):

#     # train and test algorithm.
#     # algo.fit(trainset)
#     # predictions = algo.test(testset)

#     # evalu
#     # Compute and print Root Mean Squared Error
#     cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9150  0.9154  0.9253  0.9112  0.9193  0.9172  0.0048
MAE (testset)     0.6955  0.6976  0.7023  0.6959  0.7003  0.6983  0.0026
Fit time          0.24    0.26    0.25    0.26    0.26    0.26    0.01
Test time         1.55    1.30    1.26    1.28    1.29    1.33    0.11
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9147  0.9328  0.9114  0.9159  0.9154  0.9180  0.0076
MAE (testset)     0.6975  0.7087  0.6919  0.6984  0.6979  0.6989  0.0055
Fit time          0.27    0.30    0.30    0.28    0.28    0.28    0.01
Test time         1.36    1.34    1.36    1.38    1.44    1.38    0.04
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9129  0.9103  0.9241  0.9155  0.9277  0.9181  0.0067
MAE (testset)     0.6932  0.6945  0.7015  0.6984  0.7042  0.6984  0.0041
Fit time          0.28    0.30    0.26    0.26    0.26    0.27    0.02
Test time         1.34    1.64    1.33    1.30    1.42    1.40    0.12
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9206  0.9101  0.9264  0.9155  0.9159  0.9177  0.0055
MAE (testset)     0.6998  0.6951  0.7065  0.6947  0.6966  0.6985  0.0044
Fit time          0.30    0.26    0.30    0.26    0.26    0.28    0.02
Test time         1.38    1.33    1.61    1.36    1.36    1.41    0.10
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9212  0.9171  0.9171  0.9144  0.9193  0.9178  0.0023
MAE (testset)     0.7022  0.6956  0.6985  0.6965  0.6989  0.6983  0.0023
Fit time          0.33    0.26    0.27    0.37    0.28    0.30    0.04
Test time         1.42    1.35    1.34    1.99    1.62    1.54    0.25

In [590]:
knnz.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [591]:
predictions = knnz.test(testset)

In [592]:
def get_top_n(predictions, n=10):
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [593]:
predict_dict = get_top_n(predictions, 10)

In [594]:
df = pd.DataFrame(predict_dict.items(), columns=['userId', 'est_score'])

In [595]:
df.est_score[1]

[(803, 5),
 (926, 5),
 (1361, 5),
 (1649, 5),
 (1859, 5),
 (1945, 5),
 (3010, 5),
 (3030, 5),
 (4271, 5),
 (5071, 5)]

In [596]:
user_ratings = pd.DataFrame (df.est_score[1], columns = ['movieId','est_score'])

In [438]:
# user_ratings.movieId = pd.to_numeric(user_ratings.movieId, errors='coerce').fillna(0).astype(np.int64)

In [439]:
user_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    10 non-null     int64
 1   est_score  10 non-null     int64
dtypes: int64(2)
memory usage: 288.0 bytes

In [597]:
user_ratings.merge(rating_movies, how='left', left_on='movieId', right_on='movieId').drop_duplicates('movieId', keep='first')

     movieId  est_score  userId  rating                       title    imdb_id
0        803          5      15     4.5               Night and Fog  tt0048434
2        926          5      15     3.0                Galaxy Quest  tt0177789
40      1361          5      15     3.5      The Return of the King  tt0079802
53      1649          5      15     2.0  Bill & Ted's Bogus Journey  tt0101452
59      1859          5      15     5.0                   Ninotchka  tt0031725
61      1945          5      15     4.0                        Nell  tt0110638
90      3010          5      15     4.0                The Cardinal  tt0056907
92      3030          5      15     4.0            End of the World  tt0075990
101     4271          5      15     4.0  Life Is a Long Quiet River  tt0096386
104     5071          5      15     5.0          The Crazy Stranger  tt0122082

In [441]:
import sys
sys.getsizeof(predict_dict)

18528

In [442]:
type(predict_dict)

collections.defaultdict

In [598]:
pickle.dump(predict_dict, 
            open(file='models/predict_dict_knnz.sav', 
                 mode='wb'))

In [232]:
top_n_predictions_for_user = pd.DataFrame([[k] + v[0] for k, v in predict_dict.items()], 
                   columns=['id', 'rating_est'])

TypeError: can only concatenate list (not "tuple") to list

In [191]:
userId = 4

In [208]:
def get_ratings_for_user(userId):
    temp = rating_movies[rating_movies.userId == userId].copy().sort_values('rating',ascending = False)
    return temp

In [210]:
get_ratings_for_user(userId).head(10)

,movieId,userId,rating,title,imdb_id
12092,1954,4,5.0,The Butterfly Effect,tt0289879
11168,1278,4,5.0,The Dreamers,tt0309987
11813,1396,4,5.0,Mirror,tt0072443
11705,1387,4,5.0,Superstar: The Karen Carpenter Story,tt0094075
11615,1380,4,5.0,Gleaming the Cube,tt0097438
13327,2115,4,5.0,Light of Day,tt0093415
13460,2140,4,5.0,Kiss of the Dragon,tt0271027
11242,1282,4,5.0,Dogtown and Z-Boys,tt0275309
11003,1265,4,5.0,Bridge to Terabithia,tt0398808
10240,919,4,5.0,Blood: The Last Vampire,tt0275230